// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$main_color: #d4dbe2;
$header_color: #AAAFB5;
$text_color: white;
$primary_button_color: #AAAFB5;
$logout_button_color: #d4dbe2;
$card_color: white;
$card_placeholder_color: #EAEDF0;

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

html {
 	height: 100%;
 	overflow: hidden;
 }

body {
	height: 100%;
}

.tamello {
	margin-top: 5px;
}

.header {
	position: absolute;
	left: 5px;
	right: 5px;

	color: $text_color;
	background-color: $header_color;
 	border-style: solid;
 	border-color: $header_color;
 	border-radius: 5px;
 	border-width: 1px;
 	padding: 5px;
 	/*margin: 5px;*/
}

.topBar {
	position: absolute;
	top: 53px;
	left: 5px;
	right: 5px;
	bottom: 0px;

	background-color: $main_color;
	border-style: solid;
	padding: 3px;
	/*border-top-left-radius: 5px;
	border-top-right-radius: 5px;*/
	border-radius: 5px;
	border-width: 4px;
	border-color: $main_color;

	margin-bottom: 5px;
}

.list_container	{
	background-color: white;

	border-style: solid;
	border-width: 4px;
	border-color: $main_color;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-bottom: 10px;
	
	position: absolute;
	top: 99px;
	left: 5px;
	right: 5px;
	bottom: 0px;
	/*overflow: auto;*/

  overflow-y: hidden;
	overflow-x: scroll;
}

.mainContent {
	padding: 0px 5px;
	margin-bottom: 5px;
	max-height: fill-available;
}

.boardRow {
	padding: 3px;
}

.card {
	color: gray;
	background-color: $card_color;
	min-height: 30px;
	width: 100%;
	border-style: solid;
	border-color: $main_color;
	border-width: 2px;
	margin: auto;
	margin-top: 5px;
	border-radius: 5px;
	padding: 5px;
}

.card_placeholder {
	background-color: $card_placeholder_color;
}

.connectedListSortable {
	min-height: 50px;
	min-width: 100px;

	overflow-y: scroll;
	overflow-x: hidden;

}

.list {
	color: white;
	background-color: $main_color;
	border-style: solid;
	border-color: white;
	border-width: 1px;
	border-radius: 5px;
	float: left;
	padding: 3px;
	margin-top: 15px;
	margin-bottom: 20px;
	margin-right: 13px;
	margin-left: 5px;
	/*min-width: 300px;*/

	position: relative;
}

.list_placeholder {
	background-color: white;
}

td { 
  /*display: table-cell;*/
  vertical-align: top;
  /*width: 250px; */
}

.tamello {
	color: $text_color;
	
	a {
		color: $text_color;
		font-size: 12pt;
	}

	.list {
		a {
			font-size: 10pt;
		}
	}
}

.boardList a {
	color: $main_color;
}

.btn-primary {
	background-color: $primary_button_color;
	border-color: $primary_button_color;
}

.btn-danger {
	background-color: $logout_button_color;
	border-color: $logout_button_color;
}

.btn-default {
	background-color: white;
	color: $main_color;
	border-color: white;
}

.modal-title, label {
	color: gray;
}

.hide {
	display: none;
}