// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.boardRow {
	padding: 3px;
}

.topBar {
	background-color: #d4dbe2;
	border-style: solid;
	padding: 3px;
	border-radius: 5px;
	border-width: 1px;
	border-color: gray;
}