// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card {
	background-color: white;
	//color: white;
	width: 90%;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	margin: 5px;
	border-radius: 10px;
	//float: left;
	padding: 10px;
}
