// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list {
	background-color: #99FF66;
	//color: white;
	width: 25%;
	border-style: solid;
	border-color: #009900;
	border-width: 1px;
	margin: 5px;
	border-radius: 10px;
	float: left;
	padding: 10px;
}